ul {
    margin: 0;
    padding-left: 1.2rem;
    list-style: none;
}
li {
    margin: 0;
    padding: 0;
}
.dropIcon {
    vertical-align: middle;
}
.item {
    cursor: pointer;
    user-select: none;
}

